header.twittler-title {
border-bottom: 1px solid grey;
box-shadow: 0 1px 2px rgba(0,0,0,0.7);
position: fixed;
left: 0;
right: 0;
top: 0;
z-index: 100;
background: white;
text-align: center;
font-size: 23px;
font-family: monospace;
padding: 10px 0;
}

div.twittler-content{
margin-top: 75px;
}

section.twittler-stream,section.twittler-user-stream{
width: 50%;  
}

section.twittler-user-stream {
position: fixed;
right: 0;
border: 1px solid black;
bottom: 0;
top: 75px;
overflow: auto;
}

h4.twittler-user-stream-title {
display: inline-block;
color: grey;
font-size: 20px;
margin-top: 5px;
margin-left: 5px;
}

.hide-twittler-user-stream {
display:none;
float: right;
background-color: red;
margin-top: 10px;
margin-right: 10px;
}

div.tweet-wrapper {
border: 1px solid rgba(141, 141, 141, 0.39);
margin-bottom: 5px;
border-radius: 5px;
background: -webkit-linear-gradient(rgba(111, 192, 255, 0.36),rgba(23, 40, 238, 0.39));
}

div.tweet-wrapper h5.tweet-body {
font-family: sans-serif;
color: rgb(111, 111, 111);
font-size: 16px;
margin-left: 13px;
}

div.tweet-wrapper a.tweet-user {
text-decoration: none;
color: rgb(83, 83, 255);
}

div.tweet-wrapper h6.tweet-ts {
margin-left: 50px;
font-size: 14px;
color: rgb(5, 5, 5);
}

footer.error-text {
display: none;
position: fixed;
bottom: 0;
color: white;
background-color: red;
left: 0;
right: 0;
text-align: center;
padding: 30px 0;
font-size: 23px;
font-family: sans-serif;
}