header.twittler-title {
border-bottom: 1px solid grey;
box-shadow: 0 1px 2px rgba(0,0,0,0.7);
position: fixed;
left: 0;
right: 0;
top: 0;
z-index: 100;
background: white;
text-align: center;
font-size: 23px;
font-family: monospace;
padding: 10px 0;
}

div.twittler-content{

  margin-top: 59px;

}

div.tweet-wrapper {
border: 1px solid rgba(141, 141, 141, 0.39);
margin-right: 50%;
margin-bottom: 5px;
border-radius: 5px;
background: -webkit-linear-gradient(rgba(111, 192, 255, 0.36),rgba(23, 40, 238, 0.39));
}

div.tweet-wrapper h5.tweet-body {
font-family: sans-serif;
color: rgb(111, 111, 111);
font-size: 16px;
margin-left: 13px;
}

div.tweet-wrapper h6.tweet-ts {
margin-left: 50px;
font-size: 14px;
color: rgb(5, 5, 5);
}